@import "tailwindcss" prefix(tw);
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --animate-explainer-appear: explainer-appear 1.2s ease-in-out forwards;
  --animate-explainer-disappear: explainer-disappear 1.2s ease-in-out forwards;
}

@keyframes explainer-appear {
  to {
    right: 0;
  }
}

@keyframes explainer-disappear {
  from {
    display: block;
    right: 0;
  }

  to {
    right: calc(-1 * var(--container-width));
  }
}

#explainer {
  --container-width: 400px;
  --item-space: 16px;
  --highlight-bg: #101828;
  --highlight-text: #e5e7eb;
}
